@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.navbar-brand{
    font-weight: 500;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
a{
     font-weight: 500;
    
    font-family: 'Montserrat', sans-serif !important;
}
#map {
    margin-top:150px;
  height: 80vh;
  /* The height is 400 pixels */
  width: 48vw;
  /* The width is the width of the web page */
}
.container-fluid{
    min-height: 95vh;

}
.navbar {
    background-color: #f8f9fa!important;
}
#splitOne{
    padding: 80px;
}
.itemList{

    border-radius: 20px;
    
}
.item{
        background-color:  #fafafa;
    padding: 20px;
    margin-top:20px;
    border-radius: 20px;
     transition: all 0.8s;
}

.img-fluid{
    border-radius: 20px;
    max-height:300px;
}
#itemsplit{
    padding: 20px;
}
h3{
       font-family: 'Montserrat', sans-serif !important;
  font-size: 30px !important;
}
span.ratingText{
    
    margin-left: 150px;
    font-weight: 300;
    font-size: 14px;
}
.item{
    color:black !important;
}
.item:hover{
     padding: 0px;
    background-color:#695cfa;
    transition: all 0.8s;
    color:white !important;
}


.item{
     direction:ltr;
}
.itemList {

      direction: rtl;
  height: 90vh;
  overflow: scroll;
    overflow-x:hidden 
}
.card-img-top {
    width: 100%;
    height: 15vw !important;
    object-fit: cover !important;
}

@media only screen and (max-width: 770px) {
    #splitOne{
        padding: 20px;
    }
    #map{
        width: 90vw;
    }
  }

  .map-icon-label .map-icon {
	font-size: 24px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	white-space: nowrap;
}

#autoComplete{
    height:500px;
    padding:100px;
}
#autoComplete_list {
    position: relative !important;
}
#duk{
    position: relative ;
    background-color:#8175ff !important;
    color:white !important;
    /* display:none; */
}
#duk .btn-link{
    color:white;
}
#duk svg{
    max-height:300px;
    max-width:400px;
    
}
#duk .card{
    background-color:#a096ff !important;
}
html {
    scroll-behavior: smooth;
  }